szefguru/index.html
<!DOCTYPE html><html lang="hu"><head><title>Széfguru - demo oldal</title><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"><script type="text/javascript" charset="utf-8" src="js/main.js"></script><script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script></head><body><section class="container"><div class="row"><div class="col-sm-12"><div class="banner"><h1>Grafikus - adminisztrátor - ref anyag</h1></div></div></div><div class="row"><div class="col-sm-12"><div class="row"><div class="col-md-6 col-sm-12"><div class="row"><div class="col-sm-12"><div class="tile h05"><a id="button" href="#" data-name="me" class="tile-cont me"><h3 class="title">Rólam</h3><span class="triangle"></span><div class="tile-cont-blk"><span>CV, ref, etc...<i class="icons"></i></span></div></a></div></div></div></div><div class="col-md-6 col-sm-12"><div class="row"><div class="col-sm-12"><div class="tile h05"><a id="button" href="#" data-name="banner" class="tile-cont banner"><h3 class="title">Bannerek</h3><span class="triangle"></span><div class="tile-cont-blk"><span>az öt banner...<i class="icons"></i></span></div></a></div></div></div></div></div></div></div><div class="row"><div class="col-sm-12"><article id="me" style="display:none" class="me"><div class="row"><div class="col-sm-12"><div class="row"><div class="col-sm-3"><span class="logo"><img src="img/person-placeholder.jpg" alt="logo"></span></div><div class="col-sm-9"><span class="motiv"><p>A Nyomdai Kép- és Szövegszerkesztő szakmám elvégzése óta foglalkozom az aktuális trendekkel, érdekel a művészet ezen ága. Inspirál, és örömmel tölt, amikor egy kész kiadvány, grafika a nyilvánosság elé tárul, és pozitív visszajelzéseket kapok az elégedett megrendelőktől, és felhasználóktól. A negítív kritikákat előnyömre fordítom, hogy a jövöben elkerülhessem a problémákat.</p><p>Grafikus munkáim során óhatatlanul is belecsöppentem a webdesigner szakmába. Évek óta foglalkozom ezzel a területtel is. A minimal stílusban találtam meg azt a lehetőséget, hogy egy átlag embernek is könnyen átlátható, használható UI-t tudjak biztosítani. Nagy felelősséggel járó munkának tartom ezt a területet, hiszen akár emberek milliói láthatják, hasznáhatják az általam készített dizájnokat. Ennél inspirálóbb, izgalmasabb munka kevés van számomra, de mivel a kihívások embere vagyok, nem ódzkodok semmitől, kitartó és terhelhető vagyok.</p><p>Pályámat Magyarország, és Közép-Európa egyik legjobb nyomdájában, a Prospektus Nyomdában kezdtem. Itt töltöttem tanuló, és gyakornoki éveimet is. Megtanultam, hogy csak a precíz, és pontos munkavégzéssel lehet eredményeket elérni. Beleláttam, és dolgoztam is a nyomda minden területén. Ezeket a tudásokat a mai napig kamatoztatom.</p><p>Jelenleg egy kiadó, rendezvényszervező cégnél dolgozom, mint grafikus, webdizájner, és minden egyéb, ami szóba kerül. Bár az utóbbi időben érezhetően kevesebb munka van, referenciáim közé tartoznak szórólapok, plakátok, újságok, füzetek, könyvek, arculati kézikönyvek, egyéb nyomdai kiadványok, bannerek, CMS rendszerű honlapok karbantartása, statikus, és dinamikus honlap készítése. Évek óta aktívan részt veszek a rendezvények szervezésében, előkészítésében, építésében.</p></span></div></div><div class="row"><div class="col-sm-3"><span class="logo"><img src="img/cv.jpg" alt="CV"></span></div><div class="col-sm-9"><a href="dl/RZ_CV_2015.pdf"><img src="img/RZ_CV_2015.jpg?new" alt="CV"></a></div></div><div class="row"><div class="col-sm-3"><span class="logo links"><i class="icon-link icon10x"></i></span></div><div class="col-sm-9"><ul><li><h2><a href="http://koccintas.hu" target="_blank">koccintas.hu</a></h2><span>dinamikus oldal, php, mysql, jquery, bootstrap (folyamatosan fejlesztés alatt)</span></li><li><h2><a href="http://linedesign.hu" target="_blank">linedesign.hu</a></h2><span>statikus oldal, némi jquery</span></li><li><h2><a href="http://kaland-var.hu" target="_blank">kaland-var.hu</a></h2><span>teljesen statikus oldal, bootstrap</span></li><!--hr? rly? omg...--><hr><!--a gagyik...--><li><h2><a href="http://mienkavar.hu" target="_blank">mienkavar.hu</a></h2><span>joomla, némi jquery, egyedi banner</span></li><li><h2><a href="http://epiteszethonapja.com/" target="_blank">epiteszethonapja.com</a></h2><span>joomla...</span></li><li><h2><a href="http://kadarkaszalon.hu/" target="_blank">kadarkaszalon.hu</a></h2><span>joomla...</span></li><li><h2><a href="http://partybor.hu/" target="_blank">partybor.hu</a></h2><span>joomla...</span></li></ul></div></div></div></div></article></div></div><div class="row"><div class="col-sm-12"><article id="banner" style="display:none" class="banner"><div class="row"><div class="col-sm-12"><div class="row"><div class="col-sm-3"><span class="logo"><i class="icon-coverflow icon10x"></i></span></div><div class="col-sm-9"><span class="banners"><!--710x312--><div id="carousel-example-generic" data-ride="carousel" class="carousel slide type1"><!--Wrapper for slides--><div role="listbox" class="carousel-inner"><div class="item n1 active"><div class="safe"><img src="img/banners/TechnoBox-faliszef.png" alt="..."></div><div class="carousel-caption black"><h3>Technomax TechnoBox faliszéf</h3><div class="text"><p class="alt">69 490 Ft</p><p>Ideális megoldás építés előtt és alatt lévő házak esetén. Kiváló feltörés elleni védelem. Készpénz, értéktárgyak és dokumentumok biztonságos tárolására. Értékhatár nélkül.</p><!-- a(href="#") link--></div></div></div><div class="item n2"><div class="safe"><img src="img/banners/GST-ISS-Nurnberg-szamitogep-tarolo-szef0.png" alt="..."></div><div class="carousel-caption gray"><h3>GST-ISS Nürnberg számítógép tároló széf</h3><div class="text"><p class="alt">31 990 Ft</p><p>- Fiókokba, szekrényebe könnyedén szerelhető.</p><p>- A4-es nagyságú dokumentum tároló rekesz a széf alsó felében.</p><p>- 1,5 mm vastag egyfalú, acél széftest.</p><p>- 3mm acél ajtó vastagság.</p><p>- Gyárilag kulcsos zár, 2 db kulcs. Egyéb opcionális.</p><p>- Rögzítő furatok a hátoldalon és az aljzaton (2+2).</p></div></div></div><div class="item n3"><div class="safe"><img src="img/banners/GST-ISS-Leverkusen-tuzallo-dokumentumtarolo-butorszef.png" alt="..."></div><div class="carousel-caption gray"><h3>GST-ISS Leverkusen tűzálló dokumentumtároló bútorszéf</h3><div class="text"><p class="alt">209 990 Ft</p><p class="bold">Kiváló tűz és feltörés elleni védelem. Dokumentumok, értéktárgyak és készpénz tárolására.</p><p class="bold">60 perces tűzállóság papírra. 2 000 000 Ft értékhatár, riasztóba kötve duplázódik. </p><p>- EN 1047-1 "S60P", MABISZ "60 perces" tűzállósági kategória papírra.</p><p>- EN 14450 "S2", VDMA 24992 "B", MABISZ "B" feltörési kategória.</p><p>- Gyárilag kéttollú kulcsos zár (2 db kulcs), egyéb opcionálisan.</p><p>- Belső állítható polc.</p><p>- Többfalú, 95 mm vastag, 180°-ban nyíló széfajtó. Többfalú széftest.</p></div></div></div><div class="item n4"><div class="safe"><img src="img/banners/Technomax-Galaxy-F-uvegezett--fegyverszekreny.png" alt="..."></div><div class="carousel-caption gray"><h3>Technomax Galaxy F üvegezett fegyverszekrény</h3><div class="text"><p class="alt">557 990 Ft</p><p class="bold">Fegyverek (puskák) bemutatására.</p><p class="bold">2 000 000 Ft értékhatár, riasztóba kötve duplázódik.</p><p>- MABISZ "B" kategóriájú minősítés.</p><p>- Acél szerkezet, 19 mm vastag, könnyebb mechanikus támadásnak (UNI 9186) és golyónak ellenálló (UNI 9187, A osztály) biztonsági üveg.											p - Fegyverhelyek, fa talapzat.</p><p>- Fúrásnak ellenálló biztonsági cilinderzár.</p><p>- 1 db üvegből készült polc. 2 db spotlámpa a szekrény felső részében.</p><p>- 3 oldalról 19 mm vastag biztonsági üveg.</p><p>- 180°-ban nyíló széfajtó, takart zsanérok.</p></div></div></div><div class="item n5"><div class="safe"><img src="img/banners/kulcstarolo-szefek.png" alt="..."></div><div class="carousel-caption asbestos"><h3>Kulcstároló széfek</h3><div class="text"><p class="bold">Biztonságos tárolás</p><p>Kulcstároló széfeinket elsősorban beltérre ajánljuk. Ideális megoldás a vésznyitó kulcsok biztonságos elhelyezéséhez</p><p>Biztonságosan tárolható: kulcsok</p></div></div></div><!--Indicators--><ol class="carousel-indicators"><li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li><li data-target="#carousel-example-generic" data-slide-to="1"></li><li data-target="#carousel-example-generic" data-slide-to="2"></li><li data-target="#carousel-example-generic" data-slide-to="3"></li><li data-target="#carousel-example-generic" data-slide-to="4"></li></ol></div></div></span></div></div></div></div></article></div></div><div class="row"><div class="col-sm-12"><article id="demo" style="display:none" class="demo"><h1>maybe looks better</h1></article></div></div></section></body></html>

szefguru/index.jade
doctype html
html(lang="hu")
	head
		include ./jade_includes/head.jade
	body
		section.container
			.row
				.col-sm-12
					.banner
						h1 Grafikus - adminisztrátor - ref anyag

			.row
				.col-sm-12
					.row
						.col-md-6.col-sm-12
							.row
								.col-sm-12
									.tile.h05
										a#button.tile-cont.me(href="#" data-name="me")
											h3.title Rólam
											span.triangle
											.tile-cont-blk
												span CV, ref, etc...
													i.icons
						.col-md-6.col-sm-12
							.row
								.col-sm-12
									.tile.h05
										a#button.tile-cont.banner(href="#" data-name="banner")
											h3.title Bannerek
											span.triangle
											.tile-cont-blk
												span az öt banner...
													i.icons
						//- .col-md-4.col-sm-12
						//- 	.row
						//- 		.col-sm-12
						//- 			.tile
						//- 				a#button.tile-cont.demo(href="#" data-name="demo")
						//- 					h3.title Demo oldal
						//- 					span.triangle
						//- 					.tile-cont-blk
						//- 						span csak egy ötlet...
						//- 							i.icons
			.row
				.col-sm-12
					include ./jade_includes/me.jade
			.row
				.col-sm-12
					include ./jade_includes/banner.jade
			.row
				.col-sm-12
					article#demo.demo(style="display:none")
						h1 maybe looks better
